<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- Quill -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/base/variables.css">
  <link rel="stylesheet" href="/css/base/reset.css">
  <link rel="stylesheet" href="/css/base/layout.css">
  <link rel="stylesheet" href="/css/base/utilities.css">

  <link rel="stylesheet" href="/css/components/header.css">
  <link rel="stylesheet" href="/css/components/buttons.css">
  <link rel="stylesheet" href="/css/components/cards.css">
  <link rel="stylesheet" href="/css/components/forms.css">
  <link rel="stylesheet" href="/css/components/quill.css">

  <link rel="stylesheet" href="/css/pages/index.css">
  <link rel="stylesheet" href="/css/pages/dashboard.css">
  <link rel="stylesheet" href="/css/pages/teams.css">
  <link rel="stylesheet" href="/css/pages/team-profile.css">
  <link rel="stylesheet" href="/css/pages/characters.css">
  <link rel="stylesheet" href="/css/pages/character-profile.css">
  <link rel="stylesheet" href="/css/pages/connection.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/ian2oem.css">
  <link rel="stylesheet" href="https://use.typekit.net/ian2oem.css">
  <link rel="stylesheet" href="https://use.typekit.net/ian2oem.css">

  <!-- Phosphor Icons -->
  <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
      />
</head>
<body>
 <!-- Header -->
    <%- include('../partials/header') %>

<!-- Main Content -->
  <main class="main-content">
    <div class="container">
      <%- body %>
    </div>
  </main>
  <!-- JavaScript -->

</body>
</html>